Repository NixLine-org/nixline-demo1, changes with the owners that .github/CODEOWNERS names for each.
All owners: @NixLine-org/maintainers, @NixLine-org/nix-team, @NixLine-org/devops, @NixLine-org/docs

.github/CODEOWNERS:

# CODEOWNERS - Generated from nixline-baseline
# Edit packs/codeowners.nix in your baseline to customize

# Default owners for everything
* @NixLine-org/maintainers

# Nix files
*.nix @NixLine-org/nix-team

flake.lock @NixLine-org/nix-team

# CI/CD workflows
.github/workflows/ @NixLine-org/devops

# Documentation
*.md @NixLine-org/docs

simplify flake to use baseline apps directly
  flake.nix
Owners: @NixLine-org/nix-team

remove flake and use direct baseline calls
  .github/workflows/ci.yml
  README.md
  flake.lock
  flake.nix
Owners: @NixLine-org/devops, @NixLine-org/docs, @NixLine-org/nix-team

update policy-sync workflow for direct consumption pattern
  .github/workflows/policy-sync.yml
Owners: @NixLine-org/devops

add precommit configuration from baseline sync
  .pre-commit-config.yaml
Owners: @NixLine-org/maintainers

use stable ref in CI to avoid cache issues
  .github/workflows/ci.yml
Owners: @NixLine-org/devops

switch to reusable CI workflow with pack customization demo
  .github/workflows/ci.yml
Owners: @NixLine-org/devops

remove SBOM references from documentation
  README.md
  SECURITY.md
Owners: @NixLine-org/docs

update readme to mention configuration-driven capabilities
  README.md
Owners: @NixLine-org/docs

Add required permissions for reusable workflows
  .github/workflows/ci.yml
  .github/workflows/policy-sync.yml
Owners: @NixLine-org/devops

Update to smart policy sync workflow with auto-approve
  .github/workflows/auto-approve.yml
  .github/workflows/policy-sync.yml
Owners: @NixLine-org/devops
